<ion-header>
  <ion-toolbar>
    <ion-title>informacion</ion-title>
    <!-- boton marcha atras -->
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="principal">
    <div class="contenido">
      <div class="header"></div>
      <div class="texto">
        <h2>informacion del sistema</h2>
        <h4>politica de privacidad: Lorem ipsum dolor sit amet consectetur adipisicing elit. Consequatur odit numquam
          perspiciatis ex! Ass</h4>
        <h4>version: 1.0</h4>
      </div>
    </div>
  </div>
</ion-content>