
.lista {
  padding: 10px 0px 10px 0px;
  background-color: #f2be46;
  height: 100%;
}
.table {
  background-color: #F2F8FD;
  font-size: 12px;
  tab-size: 50px;
  height: 100%;
}

th, td{
    border: 1px #dddddd solid; 
    background-color: #f2be46;
    
}

th{
  background-color: #f2be46; 
  
}

